<div class="container">
    <img src="~/images/contato.png" alt="Fale conosco" />
    <div class="jumbyton">
        <h3>Conte-nos sua dúvida</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco="NetPants@gmail.com" conteudo="Enviar um e-mail" ></email></h5>
            <br />
            <span>
                <img src="~/images/telefone.png" />
            </span>
            <h5> (31) 91234-5678</h5>
            <br />
            <span>
                <img src="~/images/home.png" />
            </span>
            <h5>Av.Brasileiros 999 - 12345-678 - Belo Horizonte</h5>
        </p>
    </div>
</div>