<div container>

    <div>
        <img src="~/images/body.png" style="width: 2000px; margin-left: -355px"/>
    </div>

    <div style="align-items: center; display: flex; justify-content: space-around; margin: 50px 0; padding: 15px 0 ;background-color: #CECECE; border-radius: 10px; border: 1px solid #E6E6E6">

        <div style="">
            <img src="~/images/caminhao.png" style="align-items: center; display: flex; justify-content: space-around; padding-left: 20px"/>
            <h6>Frete grátis</h6>
        </div>

        <div style="">
            <img src="~/images/entrega.png" style="align-items: center; display: flex; justify-content: space-around; padding-left: 30px" />
            <h6>Entrega rápida</h6>
        </div>

        <div style="">
            <img src="~/images/cartao.png" style="align-items: center; display: flex; justify-content: space-around; padding-left: 40px" />
            <h6>Até 6x sem Juros</h6>
        </div>

        <div style="">
            <img src="~/images/tag.png" style="align-items: center; display: flex; justify-content: space-around; padding-left: 40px" />
            <h6>Melhores preços</h6>
        </div>

        <div style="">
            <img src="~/images/shopping.png" style="align-items: center; display: flex; justify-content: space-around; padding-left: 40px" />
            <h6>Melhores marcas</h6>
        </div>
    </div>

    <div>
        <img src="~/images/body_zatini.png" style="width: 2000px; margin-left: -355px" />
    </div>
</div>