<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2 style="display: flex; align-items:center; justify-content: space-around; padding-top: 80px">Área do administrador</h2>
        </p>
    </div>
    <div style="display: flex; align-items:center; justify-content: space-around; padding-top: 80px">
        <a class="text-decoration-none, btn btn-outline-primary" style="padding: 10px 50px; text-transform:uppercase" asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
    </div>
</div>
